<%= button_to "Logout", destroy_user_session_path, method: :delete, class: "block mb-4 no-underline text-xs" %>
<h1 class="mb-0">Password Manager</h1>
<%= link_to "Create New Password", new_password_path %>

<div class="py-5">
  <%= render @passwords %>
</div>